.LittleCheckPoint{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 5px;
    font-weight: bold;
}

.littlePointCheckPoint{
    width: 15px;
    height: 15px;
    background-color: inherit;
    border-radius: 50%;
    border: 3px black solid;
    z-index: 1;
}