.title{
    height: 50px;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(246, 169, 26);
}

.hr{
    width: 1px;
    height: 50%;
    background-color: black;
    margin: 0 10px;
}

span{
    padding: 0 5px;
}