.buttonsAddReset{
    display: flex;
    gap: 5px;
}

.buttonAction{
    height: 40px;
    border: 1px black solid;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ButtonAdd{
    width: 80%;
    border-color: green;
    border-radius: 10px 0 0 10px;
    font-size: 24px;
}

.plusBarreH{
    background-color: green;
    width: 25px;
    height: 5px;
    position: absolute;
    border-radius: 20px;
}

.plusBarreV{
    background-color: green;
    width: 25px;
    height: 5px;
    position: absolute;
    rotate: 90deg;
    border-radius: 20px;
}

.ButtonDelete{
    width: 20%;
    border-color: blue;
}

.ButtonDelete .plusBarreH{
    background-color: blue;
    width: 18px;
    height: 5px;
    position: absolute;
    border-radius: 20px;
}

.ButtonReset{
    width: 20%;
    border-radius: 0 10px 10px 0;
    border-color: red;
}

.ButtonReset img{
    height: 60%;
}