.ToDoList{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.emptyMessage{
    position: absolute;
    left: 0;
    top: calc(100vh/2 - 50px);
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}